// 添加背景图片
//body {
//      background: url(/images/background.jpg);//自己喜欢的图片地址，本地位置对应：F:\Blog\themes\next\source\images
//      background-size: cover;
//      background-repeat: no-repeat;
//      background-attachment: fixed;
//      background-position: 50% 50%;
//}

// Custom code styles.
code {
    color: #ff7600;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

// 文章目录默认展开
.post-toc .nav .nav-child { 
    display: block; 
}
// 文章目录字体大小调整
.post-toc ol {  
    font-size : 15px;     
}